<html>
<head>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<!-- <link rel="stylesheet" href="index.css"> -->
</head>
<body>

    <!-- <script type='text/javascript' src='table.js'></script> -->
    <style>
        table, th, td {
    border: 3px solid rgb(0, 0, 0);
    padding: 4px;
    }
    table {
        border-spacing: 5px;
    }
    </style>


</body>
<script>
      async function fetchData() {
            try {
                const response = await fetch('/api/getData');
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error fetching data:', error);
                return [];
            }
        }
    const dt = fetchData();
    d3.json(dt, function (error,data) {

function tabulate(data, columns) {
      var table = d3.select('body').append('table')
      var thead = table.append('thead')
      var tbody = table.append('tbody');

      // append the header row
      thead.append('tr')
        .selectAll('th')
        .data(columns).enter()
        .append('th')
          .text(function (column) { return column; });

      // create a row for each object in the data
      var rows = tbody.selectAll('tr')
        .data(data)
        .enter()
        .append('tr');

      // create a cell in each row for each column
      var cells = rows.selectAll('td')
        .data(function (row) {
          return columns.map(function (column) {
            return {column: column, value: row[column]};
          });
        })
        .enter()
        .append('td')
          .text(function (d) { return d.value; });

    return table;
  }

console.log(Object.keys(data[0]));

  // render the table(s)
  tabulate(data, Object.keys(data[0])); // 2 column table

});
</script>
</html>